.lanes {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
}
.lane {
  border: solid 0.5px;
  padding: 10px;
  width: 12.5%;
}
.lane-header {
  font-weight: bold;
}
.card {
  margin-top: 10px;
}
.card-title {
  margin: 0px;
}

.card-title:nth-child(odd) {
  background: #CCC;
}

.card-title:nth-child(even) {
  background: #EEE;
}
