body {
  font-family: 'Roboto', sans-serif;
}

h1.header {
  text-align: center;
  font-size: 28px;
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  font-weight: 400;
}

div.project-content .lanes {
  padding: 5px;
  margin: 5px;
  display: flex;
  justify-content: space-between;
}

div.project-content {
  display: flex;
  flex-direction: column;
}

div.card-content {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  align-items: center;
}

div.project-content .lane {
  width: 12%;
}

.project-content .lane-title {
  margin: 5px;
  padding-bottom: 5px;
  text-align: center;
}

div.card {
    border: 1px solid;
    padding: 10px;
    /* box-shadow: 5px 10px 8px #CCC; */
    margin-bottom: 5px;
}

.label {
  border-radius: 3px;
  padding: 0 3px;
  margin: 3px 0;
}

div.labels {
  width: 50%;
}

div.label.label-large {
  background-color: #d93f0b;
}

div.label.label-medium {
  background-color: #fbca04;
}

div.label.label-small {
  background-color: #0e8a16;
}

.label[class^="label-"] {
  border: solid 1px;
  border-color: black;
  color: white;
  background-color: #006786bd;
 }

div.milestone {
  padding: 3px;
  width: 30px;
  background-color: #8892b99c;
  height: 20px;
  border-radius: 9px;
  text-align: center;
}

.project {
  padding: 20px;
  padding-top: 10px;
}

.project .name {
  text-align: center;
  color: black;
  font-weight: 400;
  margin-top: 0px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: inherit;
  padding-bottom: 5px;
}

.Acquire {
  border-left: 6px solid #e55d82;
}

.Stratego {
  border-left: 6px solid #409edb;
}

.Ludo {
  border-left: 6px solid #e8bd00;
}

.Battleship {
  border-left: 6px solid #7b6500;
}

.Cluedo {
  border-left: 6px solid #dd2020;
}

.project .stats {
  border-collapse: collapse;
  border-color: inherit;
}

.project .stats tr>*:first-child {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: inherit;
}

.project .stats tr:not(:first-child){
  border-top-width: 1px;
  border-top-style: solid;
}

th, td {
   padding: 6px 14px;
   font-size: 14px;
   font-weight: 300;
}


table .no-of-cards {
  text-align: center;
}

.projects {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
