h1.header {
  text-align: center;
  background-color: #9e7cc1;
  margin: 0;
  padding: 20px;
}

div.project-content .lanes {
  padding: 5px;
  margin: 5px;
  display: flex;
  justify-content: space-between;
}

div.project-content {
  display: flex;
  flex-direction: column;
}

div.card-content {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  align-items: center;
}

div.project-content .lane {
  width: 12%;
}

.project-content .lane-title {
  margin: 5px;
  padding-bottom: 5px;
  text-align: center;
}

div.card {
    border: 1px solid;
    padding: 10px;
    /* box-shadow: 5px 10px 8px #CCC; */
    margin-bottom: 5px;
}

.label {
  border-radius: 3px;
  padding: 0 3px;
  margin: 3px 0;
}

div.labels {
  width: 50%;
}

div.label.label-large {
  background-color: #d93f0b;
}

div.label.label-medium {
  background-color: #fbca04;
}

div.label.label-small {
  background-color: #0e8a16;
}

.label[class^="label-"] {
  border: solid 1px;
  border-color: black;
  color: white;
  background-color: #006786bd;
 }

div.milestone {
  padding: 3px;
  width: 30px;
  background-color: #8892b99c;
  height: 20px;
  border-radius: 9px;
  text-align: center;
}

.project-name {
  text-align: center;
}

th, td {
   border: 1px solid black;
   padding: 2px 12px;
}


table .no-of-cards {
  text-align: center;
}

.project-stat {
  display: flex;
  justify-content: space-around;
}
